/* Put your CSS here */
.btn-link {
	color: #444;
	text-decoration: none;
}
.btn-more {
	margin-top: 10px;
}
.btn-link:hover {
	color: #aaa;
	text-decoration: none;
}
.btn-block .spi {
	position: relative;
	top: -2px;
	margin-right: 5px;
}
.spi,
.si,
.pi {
	text-indent: 3000px;
}

img.icon-round{
	border-radius: 50%;
}
.no-block{
	display: inline!important;
}






body * {
	font-family: 'Roboto', "Nanum Gothic", sans-serif;
	/* font-family: 'PT Sans', sans-serif; */
}

.stuck{
	position: fixed;
}
.tip {
	font-size: 12px;
	color: #888;
	font-weight: normal;
	float: right;
}
.tip:hover {
	text-decoration: none;
	color: #2ac5c6;
}

.placeholder { color: #b2b2b2; }

html, body {
	width: 100%;
	overflow-x: hidden;
	background: #efefef;
	font-family: "Nanum Gothic";
}

@media (max-width:767px) {
	#work-info-wrapper .col-md-9 {
		padding-right: 8px !important;
		padding-left: 8px !important;
	}
	
}

@media (max-width:991px) {
	.work-contents {
		margin: 1px 0 0 0 !important;
	}
	.comment-profile-area {
		margin-left: 7px !important;
	}
	.work-tags {
		padding-left:3px;
	}
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background: #2ac5c6;
	border-color: #2ac5c6;
	border-radius: 25px;
}
.ajax-loading-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom :0 ;
	background: #fff;
	opacity: 0.8;
	z-index:10;
}
.ajax-loading {
	position: absolute;
	left: 50%;
	top:50%;
	width: auto!important;
	margin-left: -8px;
	margin-top: -8px;
}





/* override for flat */
.well {
	-webkit-box-shadow:none;
	box-shadow: none;
	border-radius:0;
	border:0;
	background: #fff;
}
.form-control,
.input-group-addon,
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn,
.btn,
.btn-sm,
.btn-lg {
	border-radius: 0;
}
.centered {
	text-align:center;
}
.righted {
	text-align:right;
}
.rounded {
	border-radius: 1em;
}
.label-nofol {
	color: #fff;
	background: #2ac5c6;
	padding: 3px 5px;
	text-decoration: none;
}
.btn-nofol {
	border-radius: 2em;
	text-decoration: none;
	color: gray;
	border:1px solid gray;
	background: #fff;
	-webkit-transition: all 0.3s ease;	
	-moz-transition: all 0.3s ease;	
	-o-transition: all 0.3s ease;	
	transition: all 0.3s ease;	
}
.btn-nofol2 {
	color: #2ac5c6;
	border-color: #2ac5c6;
	text-decoration: none;
	border-radius: 2em;
	background: #fff;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	line-height: 180%;
	padding-right: 25px;
	padding-left: 25px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn-nofol3 {
	border-radius: 2em;
	text-decoration: none;
	color: #7a7880;
	background: #fff;
	-webkit-transition: all 0.3s ease;	
	-moz-transition: all 0.3s ease;	
	-o-transition: all 0.3s ease;	
	transition: all 0.3s ease;	
}
.btn-no-border {
	border-width: 0;
}
.btn-follow {
	position: relative;
}
.btn-follow .ajax-loading-overlay {
	border-radius: 2em;
}
.btn-follow.activated {
	background: #2ac5c6;
	color: #fff !important;
}
.btn-follow.activated:hover {
	text-decoration: none;
	opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
}
@media (min-width:768px) {
	.btn-nofol:hover {
		opacity: 0.5;
	}
	.btn-nofol2:hover {
		background:#2ac5c6;
		color:#fff;
	}
}
@media (max-width:767px) {
	.container {
		padding-left: 7px;
		padding-right: 7px;
	}
}


.error .form-control {
	border : 1px solid #ff3366;
}
.error .form-error {
	margin:2px 0;
	color: #ff3366;
	font-family: "Nanum Gothic" !important;
	font-size: 11px;
}


#btn-feed,
#btn-alarm {
	position: relative;
}
#btn-feed .label,
#btn-alarm .label {
	position: absolute;
	right: -5px;
	bottom: -3px;
	z-index: 4;
	font-weight:300;
}








#header, #mobile-header {
	background: #fff;
	width: 100%;
	height: 50px;
	z-index: 20;
	top:0;
	box-shadow: rgba(150,150,150,0.1) 0px 4px 3px -2px;
}
#mobile-header {
	padding-top: 1em;
}
#footer {
	background: rgba(255, 255, 255, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */
	width: 100%;
	padding: 7px 0;
	text-align: center;
	color: #444;
}

#footer-menu {
	padding-top:6px;
	font-size: 12px;
	text-align: left;
	padding-left: 30px;
}

#content-wrap {
	padding: 50px 0 70px 0;
	position: relative;
}
.mm-page{
	/*background-color:#fff;*/
}
#mobile-menu-profile a {
	padding-left: 0;
}









/* main list */
.thumbbox .spi-video_white {
	display: none;
}

.pi-videoy {
	position: absolute;
	top: 5px;
	left: 8px;
	display:none;
}


.pi-videoy.y {
		display: inline-block !important;
	}

#main-list-top {
	margin-top: 20px;
	margin-bottom: 3px;
}
@media (max-width:600px) {
	#main-list-top {
		margin-bottom: 1px;
	}
}
.videoicon, .pi-videoy.n {
	display:none !important;
}

.main-thumbnail-list {
	overflow: hidden;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-thumbnail-list .thumbbox {
	float: left;
	width: 33.3333333333%;
	display: block;
	background: #eee;
	margin: 0;
	position: relative;
	text-decoration: none;
	outline:3px solid #efefef;
}
.main-thumbnail-list .thumbbox.wide {
	width: 66.6666666666%;
}
.main-thumbnail-list .thumbbox a,
.main-thumbnail-list .thumbbox img {
	width: 100%;
}
.thumbbox:hover .main-work-info {
	opacity: 1;
	-webkit-opacity: 1;
	filter: alpha(opacity=100);
	transition: opacity 0.7s ease;
}
.main-thumbnail-list .main-work-info {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #7a7880;
	padding: 13px 16px;
	text-decoration: none;
	border-radius: 25px;
	background-image: url("//s3.amazonaws.com/css_sprites/713/10713/768bef68df_raw.png");
	background-repeat: no-repeat;	
	height: auto!important;
	width: auto!important;
	overflow: hidden;
	opacity: 0;
	-webkit-opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	
}
.main-work-title {
	display: none;
}
@media (max-width:991px) {
	#main-list-top .wide {
		width: 100%;
	}
}
@media (max-width:599px) {
	.main-thumbnail-list .thumbbox {
		width:50%;
		outline:1px solid #efefef;
	}
	.main-thumbnail-list .thumbbox.wide {
		width:100%;
	}	
	.main-thumbnail-list .thumbbox .main-work-info {
		display: none;
	}
}
@media (min-width:768px) {
	.main-thumbnail-list {
		margin: 0;
	}
}


/* normal gallery list */
#gallery-search-form {
	margin-bottom: 20px;
	margin-top: 5px;
}
@media (max-width: 991px){
		#gallery-search-form {
			margin-top: 0px;
			background: #fff;
			padding-bottom: 5px;
		}
		#search_form .form-control {
			width:100% !important;
		}
		#search_form .btn.dropdown-toggle,  #search_form .form-control {
			padding:12px 12px !important;
		}
		.searchword {
			width:80%;
			padding-top: 5px;
		}
		.gal-cate {
			width:100%;
		}
}
@media (max-width: 767px) {
	#gallery-search-form {
		margin-left: -15px;
		margin-right: -15px;
	}
	.searchword {
		float:left !important;
		margin-top: 3px;
		width:80%;
		border:none;
	}

}
#gallery-search-form .bootstrap-select {
	width: 100%;
}
#gallery-search-form .filter-option {
	left: 17px !important;
}
#search_form .form-control {
	border:#fff;
	height: 38px;
	margin-left: 0;
	float:right;
}
#search_form .btn.dropdown-toggle,  #search_form .form-control {
	border-radius: 2em ;
	padding: 9px 12px;
	font-size: 13px;
	border-color: #fff;
	box-shadow: none !important;
}
#search_form .btn.dropdown-toggle:hover, #search_form .form-control:hover {
	border-color: #fff;
	color: #2ac5c6;
}
#gallery-search-form div.searchword {
	overflow: hidden;
}
.thumbnail-list {
	overflow: hidden;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbbox {
	display: block;
	position: relative;
}
.thumbnail-list .thumbbox {
	float: left;
	width: 25%;
	background: #eee;
	margin: 0;
	position: relative;
	text-decoration: none;
	outline:3px solid #efefef;
	overflow: hidden;
}
#feed-list .thumbbox {
	width: 33.33333333333333333%;
}
.thumbnail-list .thumbbox a,
.thumbnail-list .thumbbox img {
	width: 100%;
}

@media (max-width:599px) {
	.thumbnail-list .thumbbox {
		width: 33.3333333333%;
		outline:1px solid #efefef;
	}
}
@media (min-width:768px) {
	.thumbnail-list {
		margin: 0;
	}
}



/* profile list */
.profile-thumbnail-list {
	overflow: hidden;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}




/* follow list */
.follow-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top:20px;
}
.follow-list li {
	float: left;
	width: 100%;
	background: #fff;
	border: 1px solid #eee;
}
.follow-list .follow-recent-works {
	float: right;

}
.follow-list .follow-recent-works img {
	width: 100px;
}
.follow-list .follow-face {
	display: block;
	position: relative;
	float: left;
	margin: 15px 20px;
}
.follow-list .follow-face img {
	width: 129px;
	height: 129px;
	border-radius: 50%;
}
.follow-list .follow-face .si {
	position: absolute;
	left: 0;
	top: 0;
	background-image: none !important;
}
.follow-list .follow-center {
	margin-left: 120px;
}
.follow-center .spi {
	margin-right: 5px;
	margin-top: -3px;
}
.follow-list .follow-center a {
	color: #aaa;
	font-weight: 300;
}
.follow-list .follow-center h3 {
	margin-top:30px;
	margin-bottom: 4px;
}
.follow-list .follow-center h3 a {
	font-size: 18px;
	color:#444;
}
.follow-list .follow-center p {
	font-family: 'Nanum Gothic', Dotum;
	font-size: 12px;
	color: #aaa;
}
.follow-list .btn.activated {
	background: #2ac5c6;
	color: #fff;
}


@media (max-width: 991px) {
	.follow-center .btn-follow {
		margin-top:-5px;
	}
	.follow-list .follow-center h3 {
		margin-top: 25px;
	}
	.follow-list .follow-recent-works {
		margin: 30px 20px;
	}
	.follow-recent-works a:last-child {
		display: none;
	}
}

@media (max-width: 680px) {
	.follow-recent-works a:first-child {
		display: none;
	}
}

@media (max-width: 599px) {
	.follow-recent-works {
		display: none;
	}
	.follow-list .follow-face {
		margin: 15px 10px 15px 10px;
	}
}




.sticky-wrapper {
	/*overflow: hidden;*/
	height:auto!important;
}




/* feed */
#alarm-popup-title {
	display: inline-block;
}
.mm-page #alarm-popup-title {
	padding-top: 10px;
}
.feed-activity-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 0px;
	background:#fff;
	border-radius:5px;
	margin-bottom: 10px;
}
@media (max-width: 991px){
	.feed-activity-list {
		background:#fff;
		border-radius:5px;
		margin-bottom: 10px;
		margin-top: 0px;
	}
	#alarm-popup-title {
		display: none !important;
	}
}
#feed-activity-list a {
	border-bottom: 1px solid #e6e6e6;
}
.feed-activity-list a {
	display:block;
	text-decoration: none;
	color:black;
	padding:15px 0px 19px 15px;
}
.feed-activity-list a:hover {
	color: #2ac5c6;
	opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
}
.feed-activity-list a img {
	float: left;
	width: 50px;
	height: 50px;
}
.feed-activity-list a i {
	float: right!important;
}

@media (max-width: 540px){
	.feed-activity-list .si-face-medium {
		display:none;
	}
	.feed-activity-list a img {
		border-radius: 2em;
	}
}
.feed-activity-list a small {
	display: block;
	margin-left: 64px;
	font-family: "Nanum Gothic";
	color:#999;
	text-align: left;
	margin-top: 6px;
}
.feed-activity-list a span {
	display: block;
	margin-left: 64px;
	margin-right: 20px;
	font-family: "Nanum Gothic";
	color:#222;
	font-size: 12px;
	line-height: 150%;
	text-align: left;
}
@media (max-width:991px) {
	#activity-list-wrapper {
		display: none;
	}
	.spi-down_point {
		display:none;
	}
	.spi-down {
		margin-right: 10px;
	}
	.alarm-height {
	line-height: 230%;
	}
}
#alarm-list li {
	border-bottom: 1px solid #e6e6e6;
}
.alarm-height {
	line-height: 130%;
	border-radius: 2em;
}
#feed-activity-list .activity-infinite-icon,
#alarm-list .activity-infinite-icon {
	position: relative;
}
#feed-activity-list .activity-infinite-icon .si,
#alarm-list .activity-infinite-icon .si {
	position: absolute;
	top: 0;
	left: 0;
}
#alarm-more:hover .spi-down, 
#alarm-more .spi-down_point {
	display:none;
}
.activity-more-link:hover {
	border-color: #fff;
}

#feed-tab {
	margin-top: 20px;
	font-size: 13px;
	border-bottom: none;
}

#feed-tab li a {
	font-family: "Nanum Gothic";
	color: #7a7880;
}
#feed-tab .active a {
	color: #222 !important;
	font-weight: bold;
	border-color: #fff;
}




/* work */
.work-wrapper {
	overflow: hidden;
	margin-bottom: 80px;
	background-color: #ffffff;
}
#work-content-blockadder{
	display: none;
}
.block-video {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.block-video iframe,
.block-video object,
.block-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*#content-block-list > li {
	margin: 7px 0;
}
*/
.work-info {
	background: #fff;
	color: #999;
}
	.work-info .work-info-title {
		padding: 13px 37px 20px 37px;
	}
	.work-info h2 {
		font-size: 20px !important;
		margin-top: 7px;
		color: #666;
		font-weight: 600;
		margin-bottom: 7px;
	}
	.work-info-time {
		font-size: 12px;
		margin-left:1px;
	}
	.work-info-time a {
		color: #999;
	}
	.work-info-time a:hover {
		text-decoration: none;
	}
	.work-info-icons {
	}
	.work-info-icons > div {
		float: left;
		width: 33.333333333333333333333%;
		text-align: center;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 0 10px;
	}
	.work-info-icons .spi {
		position: relative;
		top: 1px;
		margin-right: 5px;
		margin-bottom: 8px;
		opacity: 0.8;
		-webkit-opacity: 0.8;
		filter: alpha(opacity=80);
		margin-left: 5px;
		margin-top: -3px;
	}
	.work-info-icons > div br {
		display: none;
	}

@media (max-width:991px) {
	#work-list .work-info-icons > div {
		background: #fff;
		color: #7a7880;
		font-weight: 300;
		line-height: 170%;
	}	
	.work-info .work-info-title {
		border-bottom: 1px solid #efefef;
	}
}


.work-contents {
	background: #fff;
	margin-top: 30px;
}
.work-addinfo {
	margin-top: 0;
	background: #fff;
	padding: 15px 0 0;
}
.work-addinfo .btn .spi {
	margin-top: -2px;
	margin-right: 5px;
}
.work-addinfo .work-sns {
	padding-bottom: 20px;
	padding-right: 50px;
}
@media (max-width:991px) {
	.work-addinfo .work-sns {
	padding-right: 20px;
	}
	.work-addinfo .col-xs-5 {
		padding-left: 20px;
	}
	.work-addinfo .work-sns {
		margin-top: -6px;
	}
}

.work-addinfo .work-sns a:hover {
	text-decoration: none !important;
	opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
}
	.work-tags {
		color: #7a7880;
		font-family: 'Nanum Gothic', Dotum;
		font-size:12px;
		margin-bottom: 20px;
	}
	.work-tags a {
		color: #7a7880;
		font-family: 'Nanum Gothic', Dotum;
		font-size:12px;
	}
	.work-tags a:hover {
		text-decoration: none;
		color:#2ac5c6;

	}
	.work-ccl {
	}
.work-actions {
	background: #fff;
	
}
.work-btn{
	font-size: 14px;
	color: #2ac5c6;
	font-weight: 300;
	margin-right: 3px;

}
.work-btn:hover{
	color: #2ac5c6;
	text-decoration: none;
}


.work-contents {
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}
@media (max-width: 1199px){
	.work-contents {
		padding-top:0px;
	}
}
.add-collection {
	visibility: hidden;
	margin-top: 5px;
}
.add-collection .collect-collected {
	display: none;
}
.add-collection.collected {
	visibility: visible;
}
.add-collection.collected .collect-collected {
	/*display: block;*/
}
.add-collection.collected .collect-question {
	display: none;
}
.btn-note-row {
	margin: 50px 0;
}
.btn-note.noted {
	background: #2ac5c6;
	color: #fff;
}
.block-image, .block-text, .block-video, .block-line {
	text-align: center;
}
.block-text {
	margin-top: 10px;
}
.block-image img {
	max-width: 100%;
}
.work-contents > .block-image,
.work-contents > .block-video,
.work-contents > .block-text {
	margin: 10px 0 0 0;
	position: relative;
}
.work-contents > .block-text > div,
.work-contents > .block-text > p {
	margin: 5px 0;
}

.work-contents > .block-image:first-child,
.work-contents > .block-video:first-child,
.work-contents > .block-text:first-child {
	margin-top: 0;
}
.work-contents > .block-image:last-child,
.work-contents > .block-video:last-child,
.work-contents > .block-text:last-child {
	margin-bottom: 0;
}
.work-contents > .block-text {
	padding: 15px 25px;
}
.work-contents > .block-line {
	margin: 20px auto;
	width: 93%;
	height: 2px;
	background-color: #f4f4f4;
}
.work-contents > .block-line + .block-text,
.work-contents > .block-line + .block-image,
.work-contents > .block-line + .block-video {
	margin-top: 0;
}
@media (max-width:991px) {
	.work-contents > .block-text {
		padding: 15px 0;
	}
	.work-contents > .block-line {
		margin: 20px auto;
		width: 93%;
		height: 2px;
		background-color: #f4f4f4;
	}
}
@media (max-width:767px) {
	.work-contents > .block-text {
		padding: 10px;
	}
}
.work-sns .btn-nofol {
	border-width: 0;
}

@media (max-width: 991px){
	
	.work-addinfo .btn-nofol2 .spi-love_white {
		display:none;
	}

	.work-addinfo .noted .spi-love_point {
		display: none !important;
	}

	.work-addinfo .btn-nofol2 .spi-love_point,
	.work-addinfo .noted .spi-love_white{
		display:inline-block;
	}

	.btn-follow .spi-follow_white,
	.btn-follow .spi-following_white {
		display:none;
	}
	.btn-follow .spi-follow_point {
		display:inline-block;
	}
	.activated .spi-follow,
	.activated .spi-follow_white,
	.activated .spi-follow_point,
	.spi-following_white {
		display:none !important;
	}
	.activated .spi-following_white{
		display:inline-block !important;
	}
}



.work-addinfo .noted:hover {
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
}

/* comment */
.comment-wrapper {
	display: none;
	margin-top: 10px;
}
.comment-prev { /* more button */

}
.comment-wrapper .btn-comment-prev {
	margin-bottom:10px;
}
.comment-block {
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	border-top: 1px solid #eee;
	padding: 10px 0;
}
.comment-block .btn-reply-comment {
	position: absolute;
	right: 5px;
	bottom: 0;
	font-size: 12px;
	color: #999;
}
.comment-inner .dropdown-menu li {
	float: left;
}
.comment-inner .dropdown-menu li a{
	padding: 4px 15px !important;
}

form.comment-block.create .btn-cancel-comment {
	display: none;
}
form.comment-block.create textarea {
	right: 60px;
	/*margin-left: 100px;*/
}
	.comment-profile-area {
		float: left;
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
	}
	@media(max-width: 767px) {
		.comment-replies .comment-profile-area {
			/*display: none;*/
		}
	}
		.comment-profile-area img {
			width: 50px;
			height: 50px;
		}
		@media(max-width: 767px){
			.comment-profile-area img {
				border-radius: 25px;
			}
			.comment-profile-area .si {
				background-image: none !important;
			}
		}
		.comment-profile-area .spi,
		.comment-profile-area .si {
			position: absolute;
			top: 0;
			left: 0;
		}
	.comment-username {
		margin-left: 70px;
	}
	.comment-username a {
		color: #444;
	}
	.comment-username span {
		color: #aaa;
		font-size: 12px;
		margin-left: 10px;
	}
	.comment-textarea {
		margin-left: 70px;
		border: 0;
		min-height: 40px;
		color: #aaa;
		font-size: 13px;
	}

	textarea.comment-textarea {
		background: #f2f2f2;
		position: absolute;
		left: 0;
		right: 100px;
		color: #000;
		margin-top: 5px;
		margin-left: 70px;
		width: 80%;
	}
	.comment-replies textarea.comment-textarea {
		margin-left: 100px;
		width: 67%;
	}
	@media (min-width:501px) and (max-width:600px) {
		textarea.comment-textarea {
			width: 76%;
		}
		.comment-replies textarea.comment-textarea {
			width: 60%;
		}

	}
	@media (min-width:401px) and (max-width:500px) {
		textarea.comment-textarea {
			width: 70%;
		}
		.comment-replies textarea.comment-textarea {
			width: 50%;
		}
	}
	@media (max-width:400px) {
		textarea.comment-textarea {
			width: 63%;
		}
		.comment-replies textarea.comment-textarea {
			width: 39%;
		}
	}
	.comment-control-area-mobile {
		position: absolute;
		top: 0;
		right: 0;
	}
	.comment-control-area-mobile .btn-group > .btn-default {
		border: 0;
	}
	.comment-replies {
		margin-left: 0;
	}
	.comment-replies > .comment-block {
		padding-left: 30px;
		padding-bottom: 0px;
		margin-bottom: 8px;
	}
	.comment-replies .btn-reply-comment { /* 2차 댓글은 댓글을 더이상 달 수 없음 */
		display: none;
	}

	.comment-action-area {
		float: right;
		padding-top: 8px;
	}
	.comment-action-area .btn {
		border:none !important;
	}

@media (max-width:991px) {
	.comment-control-area {
		display: none;
	}
}

.reply-display {
	display: none;
}

/* note */
.note-wrapper {
	display: none;
	margin-top: 10px;
}












/* auth */
html.auth,
html.auth body {
	background: url(http://magazine.notefolio.net/nf-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#auth-wrapper {
	margin: 100px auto;
	max-width:320px;
	width: 100%;
}
@media (max-width: 767px) {
	#auth-wrapper {
	margin: 40px auto;
}
}
#auth-header {
	margin: 20px 0 10px;
	text-align: center;
}
#auth-body {
	background: #fff;
	padding: 30px 20px 20px;
	margin-top: 30px;
	border-radius: 5px;
}

.bg-info {
	position: fixed;
	bottom: 20px;
	right: 30px;
	color: #fff;
	background: rgba(0,0,0,0.2);
	padding: 11px 20px 10px;
	border-radius: 2em;
	font-size: 13px;
	line-height: 160%;
	font-family: "Nanum Gothic";
}

.bg-info a{
	color:#fff !important;
	font-family: "Nanum Gothic";
}

.bg-info a:hover{
	text-decoration: none;
	color:#2ac5c6;
}

.bg-info .spi-work_white {
	margin-right: 12px;
	margin-top: -2px;
}


@media (max-width: 767px) {
	html.auth,
	html.auth body {
		background: #333 !important;
	}
	#auth-body {
		background: #333 !important;
		border: none;
		padding: 25px;
		margin-top:0px !important;
	}
	.bg-info {
		display: none !important;
	}
	.big-left {
		margin-left: 0px !important;
	}
	.biggroup {
		padding: 20px 10px 10px !important;
		width: 270px !important;
	}
	.fblogin #login-with-fb {
		border:none !important;
	}
	.or-line {
		background: #555 !important;
		margin-top:0 !important;
	}
	.auth-or {
		background: #333 !important;
	}
	.btn-darkgray, .btn-darkgray2 {
		margin-top:20px !important;
	}
	.auth-sub {
		border-top: 1px solid #3d3d3d !important;
		padding-top: 5px !important;
	}
	.auth-formleft {
		margin-left: 0px !important;
	}
	#login-with-fb {
		margin-bottom:20px !important;
	}
	.form-group.fblogin {
		margin-bottom: 10px !important;
	}
	.auth-agree {
		margin-bottom: 0px !important;
		padding-top: 15px !important;
	}	
	#auth_basic div {
		width: 247px !important;
	}
	#auth_facebook {
		margin-top: 0px !important;
	}
	.fb_check {
		width:220px !important;
	}
}
#auth-footer {
	margin-top: 20px;
	text-align: center;
	color: #aaa;
}
.form-group.fblogin {
	margin-bottom: 15px;
}
#signup-with-fb {
	margin-bottom: 20px;
}
#login-with-fb {
	margin-bottom:10px;
}
.fblogin #login-with-fb, #signup-with-fb {
	padding: 10px 0;
	width:100%;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ddd;
	color: #357ebd;
	font-weight: 700;
}

.biggroup {
	background: #fff;
	padding: 0px;
	border-radius: 5px;
	width: 100%;
	color: #7a7880;
}
.btn-darkgray {
	padding: 10px 0px;
	border-radius: 2em;
	background: #555;
	border: none;
	color: #fff;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0px;
	width: 100%;
}
.btn-darkgray2 {
	padding: 10px 0px;
	width:100%;
	border-radius: 2em;
	background: #555;
	border: none;
	color: #fff;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0px;
}
.btn-pointgreen {
	padding: 10px 0px;
	border-radius: 2em;
	background: #2ac5c6;
	border: none;
	color: #fff;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 0px;
	width: 100%;
}
.btn-darkgray:hover, .btn-darkgray2:hover, .btn-pointgreen:hover, .btn-pointgreen:active, .search-green:active {
	color:#fff;
}
.search-green {
	padding: 10px 0px 5px;
	width: 39px;
	float: right;
	font-family: "Nanum Gothic";
	font-weight: normal;
	margin-bottom: 0;
	font-size: 13px;
}
@media (max-width: 767px) {
	.search-center {
		padding-top: 0px;
	}

}
@media (max-width: 991px) {
	.search-center {
		text-align: center;
		margin-top: 3px;
		padding-top: 5px;
	}
	.search-green {
		float:right !important;
		margin-right: 10px;
	}

}

.auth-or {
	color: #bbb;
	margin-left: 106px;
	padding: 2px 20px;
	background: #fff;
}
.auth-agree {
	color:#888;
	font-size:12px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.or-line {
	width: 100%;
	height: 1px;
	background: #ddd;
	margin-bottom: -10px;
	margin-top: 10px;
}
.auth-sub {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	width: 100%;
}
.form-group.auth-sub a {
	color: #bbb;
}
.form-group.auth-sub a:last-child {
	float: right;
	margin-right: 10px;
}
.form-group.auth-sub a:first-child {
	margin-left: 10px;
}

.labeltext {
	font-size: 13px;
	font-family: "Nanum Gothic";
	color: #7a7880;
	margin-bottom: 10px;
	font-weight: bold;
}
.labeltext2 {
	font-size: 12px;
	font-family: "Nanum Gothic";
	color: #7a7880;
}
.labeltext3 {
	font-size: 15px;
	font-family: "Nanum Gothic";
	color: #7a7880;
	margin-bottom:20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.register-ajax, .register-ajax:hover {
	color: #2ac5c6;
}
.auth-smallbtn {
	background: #efefef;
	border-radius: 2em;
	margin-left: 10px;
}
#auth_facebook {
	margin-top: 40px;
}
.fb_label {
	float: left;
}
.fb_button {
	float: right;
}
.fb_check {
	font-size: 12px;
	font-family: "Nanum Gothic";
	color: #7a7880;
	margin-bottom: 20px;
	width: 250px;
}




/* info */
.work-small-profile {
	background: #2ac5c6;
	padding: 20px 10px;
}
.work-small-profile .spi {
	float: right;
}
.work-small-profile > h2 {
	font-size:13px;
	font-weight:700;
}
.work-small-profile > span.category {
	margin-left: 0.7†em;
}
.work-small-profile > * {
	display: inline-block;
	font-size: 12px;
	color:#fff;
}
.work-small-profile img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}
.work-small-profile h2 a {
	color: #fff;
}
.work-small-profile span a {
	color: #fff !important;
	font-size: 12px;
}

#side.info {
	
}
#side.info > a {
	display:block;
	border:1px solid #e0e0e0;
	padding:12px;
	margin-bottom:10px;
	cursor:pointer;
	border-radius:5px;
}
#side.info > a.current {
	background:#f0f0f0;

}
#side.info .submenu {
	margin-left:20px;
	margin-bottom:30px;
}
#side.info > a > h2 {
	text-align:center;
	line-height:1.3em;
	margin:0 0 5px 0;
}
#side.info > a > p {
	text-align:center;
	margin:0;
	color:#999;
	line-height:1.3em;
}

#side.info ul {
	list-style:none;
	margin:0;
	padding:0;
}
#side.info ul > li > a {
	padding: 8px 0 8px 15px;
	display:block;	
	border-bottom:1px solid #e0e0e0;
}


#side_about.info {
	
}


#term {
	border:0;
	background-color:white;
	font-family: "Nanum Gothic";
	font-size: 12px;
	padding: 40px;
}

@media(max-width: 991px){
	#contact_us_container, #about_us_container {
		margin-bottom: -60px;
	}
	#contact_us_container .container, #about_us_container .container {
		padding: 0;
	}
	#faq_container .container {
		margin-bottom: -120px;
		padding: 0;
	}
	#cont_gallery {
		margin-top: 30px !important;
	}
}

#about_us_container #content {
	background: #ffffff;
}

#term_container h1, #privacy_container h1, #faq_container h1, #contact_us_container h1 {
	font-size: 20px;
	font-family: 'Roboto',sans-serif;
	color: #444;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
	line-height: 180%;
}
#cont_gallery {
	background: #fff;
	margin-bottom: 30px;
	margin-top: 0px;
	padding-top: 10px;
}
.contact-content {
	background: #fff;
}
.contact-content p {
	text-align:center;
}
#contact_form .form-control {
	box-shadow: none !important;
}
#side_about a:hover {
	border: 1px solid #fff !important;
}
#side_about h4{
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	color: #7a7880;
	font-weight: 400;
	text-align: center;
	margin-bottom: 10px;
}
#side_about p {
	font-family: "Nanum Gothic";
	font-size: 13px;
}
#faq_list {
	padding: 20px 20px 50px;
}
#faq_list h2 {
	font-size: 13px;
	background: none;
	font-family: "Nanum Gothic";
	padding-left: 0;
}
#faq_search {
	width: 90%;
	margin-left: 5%;
	font-family: "Nanum Gothic";
	font-size: 12px;
}
.contact-select .btn-group.bootstrap-select {
	width: 100% !important;
}
.contact-select .selectpicker {
	border-color: #ccc;
}
.form-group .btn-pointgreen .spi-email_white {
	margin-right:5px;
	margin-top: 2px;
}
#contact_form .col-sm-3.control-label {
	margin-left: -10%;
	font-family: "Nanum Gothic";
	font-size:12px;
	color:#7a7880;
}
#contact_form  .contact-sumbit {
	margin-left: 15%;
}
#contact_form .alert-success {
	color: #7a7880;
	background-color: #efefef;
	border-color: #fff;
	font-family: "Nanum Gothic";
	font-size: 12px;
	text-align: center;
}
#contact_form .alert-success h2 {
	font-size: 15px;
	font-family: "Nanum Gothic";
	font-weight: bold;
}
@media (max-width: 767px) {
	#contact_form .col-sm-3.control-label {
		margin-left: 0 !important;
	}
	#contact_form  .contact-sumbit {
		margin-left: 0 !important;
	}
}

@media(max-width: 991px) {
	#side_about.info {
		margin-left: -15px;
		margin-right: -15px;
	}
}


/* info : about_us */
#title_image {
	margin-bottom:0px;
	width:100%;
	padding-top: 0px;
}
#info_explain img {
	
}
#info_explain .col-md-8 div {
	white-space: pre;
	margin:0;
	padding:0;
	line-height:18px;
}
#info_explain p {
	color:#1da8ac;
	font-weight:bold;
	padding:0;
}

#info_video {
	margin-top:40px;
}

#about_artist_list > img {
	float:right;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */	
}
#about_artist_list > img:nth-child(5) {
	margin-left:87px;
}
#about_artist_list > img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

#about_cooperation > .span16 {
	margin:10px 0;
}
#about_cooperation a {
	margin:0 11px;
}
	




/* info : faq */
.question {
	cursor:pointer;	
	margin-bottom:0;
	background:url(/img/info/normal.png) 0 13px no-repeat;
	padding-left:15px;
}
.question.opened {
	background:url(/img/info/open.png) 0 13px no-repeat;
}

.answer {
	display:none;
	background: #F2f2f2;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 12px;

}

.answer a {
	color: #222;
	font-weight: bold;
}
.answer img {
	width:inherit;
}
@media (max-width: 700px) {
	.answer img {
		width:100%;
	}
}


/* info : contact us */
p.desc {
	font-size: 15px;
	margin-bottom: 40px;
	color: #666;
	line-height: 1.6em;
}















/* profile */
#profile-header {
	width: 100%;
	height: 400px;
	background-position:center center;
	background-repeat : repeat;
	background-attachment: fixed;
	background: #aaa;
	position: relative;
}
#profile-total {
	position: absolute;
	right: 15px;
	bottom: 15px;
	color: #888;
	font-size: 12px;
}
@media (max-width: 991px) {
	#profile-total {
		display:none;
	}
}

@media (max-width: 767px) {
	#profile_nav_followings, #profile_nav_followers {
		width: 49% !important;
		text-align: center !important;
	}
	.fol {
		width:100%;
		border-bottom: 1px solid #dfdfdf !important;
	}
	.promenu {
		background:#fff;
	}
	#profile-nav li {
		width: 24%;
	}
	.item3 li {
		width: 32% !important;
	}
}


@media (min-width: 768px) {
	.fol {
		margin-top:7px;
		margin-right: 16px;
	}
}

#profile-header #btn-edit-cover {
	position: absolute;
	top: 10px;
	right: 10px;
}

#profile-header #btn-edit-cover .btn{
	margin-top:5px;
}

#profile-inner-wrapper {
	position: relative;
	width: 100%;
	top: 0;
	background-color: rgba(255,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cff0000', endColorstr='#4cff0000'); /* IE shit */
	height: 400px;
	margin: 0 auto;
}

@media (max-width:480px) {
	#profile-inner-wrapper {
		padding-top: 45px;
	}
}

@media (min-width:481px) {
	#profile-inner-wrapper {
		padding-top: 0 !important;
	}
}

#profile-inner {
	position: relative;
	padding-top: 50px;
}
#profile-sns-link a {
	color: #fff;
	text-decoration: none;
}
#profile-inner .centered .spi {
	margin-right: 5px;
	margin-top: -3px;
}
#profile-inner .centered .btn-follow {
	padding-left: 25px;
	padding-right: 25px;
	line-height: 180%;
}

.btn-profilemini {
	border-radius: 2em;
	padding: 3px 8px 3px 10px;
	opacity: 0.8;
	-webkit-opacity: 0.8;
	filter: alpha(opacity=80);
}

.btn-profilemini:hover {
	border-color:#fff;
}
.btn-profilemini:active, .btn-profilemini:focus {
	opacity: 1;
	-webkit-opacity: 1;
	filter: alpha(opacity=100);
	border-color: #fff;
}

#btn-edit-inner {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#profile-image {
	display: block;
	position: relative;
	width: 145px;
	height: 145px;
	margin: 0 auto;
	overflow:hidden;
	border-radius: 50%;
	border:9px solid rgba(255, 255, 255, 0.2);
}
#profile-image img,
#mobile-menu-profile-image img {
	display: block;
	margin:0 auto;
	width: 100%;
	height: 100%;
}
@media \0screen {
	#profile-image > img {
		width: 129px;
		height: 129px;
	}
}
#btn-edit-profile {
	position: absolute;
	top:10px;
	right:10px;
	margin-left: -50px;
}

@media (max-width:480px){
	#btn-edit-profile {
		position: absolute;
		top: -30px;
		right: 95px;
	}
}

#profile-info {
	text-align: center;
	color: #fff;
}
#profile-info a {
	color: #fff;
}
#profile-info a:hover {
	text-decoration: none !important;
}
#profile-info h2 {
	margin-top: 12px;
	font-size: 24px;
	font-weight: 300;
}
#profile-info h4 {
	font-size: 12px;
	font-weight: normal;
	font-family: 'Nanum Gothic', '나눔고딕', Dotum !important;
}
#profile-info .centered a {
	color: #2ac5c6;
}
#profile-info .centered a:hover {
	color: #fff;
}
#profile-info .centered .spi {
	margin-right:5px;
	margin-top: -3px;
}


@media (min-width:481px) {
	#profile-header {
		height: 435px;
	}
	#profile-inner-wrapper {
		width: 400px;
		top: 50px;
		height: 350px;
	}
}

#profile-sns-link {
	text-align:center;
	margin: 8px 0px 15px 0px;
	color: #fff;
	font-size: 12px;
}
#profile-sns-link a:hover {
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
}
#profile-sns-link .pi {
	margin-right: 5px;
	margin-left: 5px;
}
@media (max-width:991px) {
	#profile-header #btn-edit-cover,
	#profile-image #btn-edit-profile {
		display: block;
		margin-left: -5px;
	}
	#profile-header #btn-edit-cover .text,
	#profile-image #btn-edit-profile .text {
		/*display: none;*/
	}
}
#dialog-change-realname .modal-dialog {
    max-width: 300px;
}
#dialog-change-keywords .modal-dialog {
    max-width: 300px;
}
#dialog-change-keywords label {
	display: block;
}
#dialog-change-sns .modal-dialog {
    max-width: 380px;
}



#profile-nav {
	padding-top: 5px;
	padding-bottom: 5px;	
	padding-left: 10px;
}
@media (max-width: 991px){
	#profile-nav {
		margin-top:20px;
	}
}
@media (max-width: 767px){
	#profile-nav {
		margin-top:0px;
	}
}
@media (max-width: 480px){
	.item3 li{
		width:32% !important;
	} 
}
#profile-nav li {
	text-align: center;
}
#profile-nav li a {
	color: #7a7880;
}
#profile-nav li a:hover {
	color: #2ac5c6;
}
#profile-nav .number {
	display: none;
} 
#profile-nav .spi {
	margin-left: 5px;
	margin-right: 6px;
	margin-top: -3px;
}
#profile-nav .text {
	line-height: 180%;
	padding-right: 5px;
}

@media (max-width: 991px) {
	#profile-nav .active .spi-work_point,
	#profile-nav .active .spi-love_point,
	#profile-nav .active .spi-user_point,
	#profile-nav .active .spi-graph_point {
		display:inline-block !important;
	}
	#profile-nav .active .spi-work, #profile-nav li .spi-work_point,
	#profile-nav .active .spi-love, #profile-nav li .spi-love_point,
	#profile-nav .active .spi-user, #profile-nav li .spi-user_point,
	#profile-nav .active .spi-graph, #profile-nav li .spi-graph_point {
		display:none;
	}
}



@media (max-width:480px) {
	#profile-nav .number {
		display: inline-block;
	} 
	#profile-nav .text {
		display: none;
	} 
	#profile-nav li {
		width: 24%;
	}
}
#profile_nav_followings a:hover, #profile_nav_followers a:hover{
	color:#2ac5c6 !important;
}

.profile-thumbnail-list {
	text-align: center;
}
.profile-thumbnail-list .thumbbox {
	display: inline-block;
	margin: 10px;
	vertical-align:bottom;	
}
.profile-thumbnail-list .thumbbox a {
	color: #888;
	text-decoration: none;
}
.profile-thumbnail-list .thumbbox a img {
	display: block;
}
.profile-thumbnail-list .thumbbox.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}
@media (max-width:992px){
	.profile-thumbnail-list .thumbbox {
		zoom:0.7;
	}
}
@media (max-width:767px){
	.profile-thumbnail-list .thumbbox {
		zoom:0.5;
	}
}





















/* mobile menu */
#mobile-search-box{
	width: 100%;
	position: relative;
	padding: 0.7em;
	vertical-align: middle;
	background-color: #7bcad4;
	border-bottom: 1px solid #7bcad4;
}

#mobile-search-box i.spi {
	vertical-align: sub;
}

#mobile-search-field{
	color: #ffffff;
	background: none;
	border: 0;
	width: 100%;
	margin: 0 0 0 -1.3em;
	padding: 0 0 0 1.7em;
	font-size: 1.5em;
	font-weight: 300;
}
input#mobile-search-field::-webkit-input-placeholder{
    color: #ffffff;
}
input#mobile-search-field:-moz-placeholder {
    color: #ffffff;
}


#mobile-menu-profile p.username {
	font-weight: normal;
	font-size: 23px;
	font-family: 'Nanum Gothic', Dotum;
}


#mobile-menu-profile #mobile-menu-profile-image {
	display: block;
	position: relative;
	width: 145px;
	height: 145px;
	margin: 0 auto;
	overflow:hidden;
	border-radius: 50%;
	border:9px solid rgba(255, 255, 255, 0.2);
}

#mobile-menu-profile p.follows  {
	font-weight: 300;
	margin-bottom: 20px;
}

.count {
	font-weight: bold;
}

.count:last-child {
	padding-left: 10px;
}




/* color code */
.bg1 {
	background: #2ac5c6;
	color: #fff;
}
.bg2 {
	background: #51c4d5;
	color: #fff;
}
.bg3 {
	background: #94e2e2;
	color: #fff;
}
.bg4 {
	background: #86d6e2;
	color: #fff;
}

.ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;          /* IE, Safari */
	-o-text-overflow: ellipsis;     /* Opera under 10.7 */
	overflow:hidden;               /* "overflow" value must be different from "visible" */
	-moz-binding: url('ellipsis.xml#ellipsis');
	text-overflow:ellipsis;	
}












#ajax-dialog-wrapper .loading {
	text-align: center;
	padding: 100px 0;
}
.dialog-work-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dialog-work-list li {
	display: inline-block;
	width: 29%;
	margin: 5px 1.4% 20px 1.4%;
	cursor: pointer;
	text-align: center;
	line-height: 1.3em;
	padding-bottom:10px;
	font-size: 12px;
}
.dialog-work-list li.selected {
	background: #2ac5c6!important;
}
.dialog-work-list li.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}
.dialog-work-list li img {
	width: 90%;
	margin: 5%;
}





#dialog-change-color .modal-dialog {	
	width: 235px;
}
#dialog-change-color .modal-body {	
	padding: 10px 20px 0 20px;
}
#dialog-change-color .modal-footer {	
	margin-top: 0;
}








#about-container {
	background: #fff;
	padding: 30px;
	margin-top: 20px;
}
#about-cont {
	min-height: 400px;
}
#about-cont img {
	max-width: 100%;
}
#btn-update-about {
	position: absolute;
	top: 5px;
	right: 20px;
}


#statistics-widgets {
	width: 300px;
}
#statistics-widgets th,
#statistics-widgets td {
	font-size: 30px;
	background: #fff;
	text-align: center;
}
#statistics-widgets th {
	font-size: 14px;
}


#statistics-chart-area {
	padding: 20px 20px 0 20px;
}

#statistics-chart-area .btn-smallgray:hover {
	color: #333;
	background-color: #fff;
	border-color: #e1e1e1;
	border-radius: 5px;
}
#statistics-chart-area .open .btn-smallgray {
	color: #333;
	background-color: #fff;
	border-color: #fff !important;
}

#statistics-chart-area .row {
	margin-bottom: 10px;
}
#statistics-header {
	margin-left: 20px;
	font-size: 12px;
	color: #333;
}
#statistics-header span {
	color: #2ac5c6;
}
#statistics-toolbars a {
	cursor: pointer;
}


#statistics-table-area {
	background: #fff;
	padding: 40px 30px 20px;
}
#statistics-table-area table {
}
#DataTables_Table_0 a {
	color: #333;
}
#select-range-wrapper .modal-dialog {
	max-width: 420px;
}





#about-edit-area {
	display: none;
}
#about-edit-area textarea {
	width: 100%;
}
#about-edit-area iframe {
	height: 400px;
}
#about-attachments {
	float: left;
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 0;
}
#about-attachments li {
	display: block;
	float: left;
	width: 8%;
	margin: 1%;
	height: 60px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border:1px solid #eee;
}
#about-attachments li i {
	position: absolute;
	right: 1px;
	top: 1px;
	cursor:pointer;
}
#about-attachments li img {
	width: 100%;
}
#about-attachments #about-upload {
	cursor: pointer;
	padding-top: 10px;
}
@media (min-width:481px) and (max-width:767px) {
	#about-attachments li {
		width: 18%;
	}
}
@media (max-width:480px) {
	#about-attachments li {
		width: 31%;
	}
}



#loading-indicator {
	z-index: 1040;
	display: none;
	position: fixed;
	left: 50%;
	bottom:10px;
	width: 200px;
	margin-left: -100px;
	background: rgba(255, 255, 255, 0.9);
	padding: 10px 0;
	text-align: center;
	border-radius: 5px;
}
#loading-indicator img {
	margin-right: 10px;
}






#mobile-menu a {
	color: #fff;
}


#mobile-header-follow .spi {
	display: none;
}
#mobile-header-follow .spi-follow {
	display: block;
}
#mobile-header-follow.activated {
	background: transparent;
}
#mobile-header-follow.activated .spi-following {
	display: block;
}




.cleditorMain {
	border-color:#ccc!important;
}