/* Put your CSS here */

.stuck{
	position: fixed;
}


/* override for flat */
.well {
	-webkit-box-shadow:none;
	box-shadow: none;
	border-radius:0;
	border:0;
}
.btn {
	border-radius: 0;
}













#header {
	background: #fff;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
#footer {
	background: #000;
	border-top: 1px solid silver;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #fff;
}
#content-wrap{
	margin: 70px 0;
}



.main_thumbnail_list {
	overflow: hidden;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main_thumbnail_list .thumbbox {
	float: left;
	width: 33.3333333333%;
	background: #eee;
	margin: 0;
	outline: 1px solid silver;
}
.main_thumbnail_list .thumbbox.wide {
	width: 66.6666666666%;
}
.main_thumbnail_list .thumbbox:hover {
	outline: 1px solid blue;
}
.main_thumbnail_list .thumbbox img {
	width: 100%;
}
@media (max-width:600px) {
	.main_thumbnail_list .thumbbox {
		width:50%;
	}
	.main_thumbnail_list .thumbbox.wide {
		width:100%;
	}	
}



.sticky-wrapper {
	overflow: hidden;
}




/* feed */
.feed_activity_list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.feed_activity_list a {
	display:block;
	text-decoration: none;
	color:black;
	padding: 15px 0px;
}
.feed_activity_list a img {
	float: left;
	width: 32px;
	height: 32px;
}
.feed_activity_list a i {
	float: right!important;
}
.feed_activity_list a small {
	display: block;
	margin-left: 40px;
	color:#999;
}
.feed_activity_list a span {
	display: block;
	margin-left: 40px;
	margin-right: 28px;
	font-size: 12px;
	line-height: 1em;
}


/* gallery - work */
.work_wrapper {
	margin-bottom: 100px;
}




/* auth */
html.auth,
html.auth body {
	background: #eee;
}
#auth_wrapper {
	margin: 30px auto;
	max-width:320px;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	padding: 15px;
}
#auth_footer {
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid #ccc;
	color: #aaa;
}


/* info */
#side.info {
	
}
#side.info > a {
	display:block;
	border:1px solid #e0e0e0;
	padding:12px;
	margin-bottom:10px;
	cursor:pointer;
	border-radius:5px;
}
#side.info > a:hover {	
	background:#fafafa;
}
#side.info > a.current {
	background:#f0f0f0;

}
#side.info .submenu {
	margin-left:20px;
	margin-bottom:30px;
}
#side.info > a > h2 {
	text-align:center;
	line-height:1.3em;
	margin:0 0 5px 0;
}
#side.info > a > p {
	text-align:center;
	margin:0;
	color:#999;
	line-height:1.3em;
}

#side.info ul {
	list-style:none;
	margin:0;
	padding:0;
}
#side.info ul > li > a {
	padding: 8px 0 8px 15px;
	display:block;	
	border-bottom:1px solid #e0e0e0;
}


#side_about.info {
	
}


#term {
	border:0;
	background-color:white;
}



/* info : about_us */
#title_image {
	margin-bottom:20px;
	width:100%;
	padding-top: 40px;
}
#info_explain img {
	margin-top:23px;	
}
#info_explain .span11 {
	white-space: pre;
	margin:0;
	padding:0;
	line-height:18px;
}
#info_explain p {
	color:#1da8ac;
	font-weight:bold;
	padding:0;
}

#info_video {
	margin-top:40px;
}

#about_artist_list > img {
	float:right;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */	
}
#about_artist_list > img:nth-child(5) {
	margin-left:87px;
}
#about_artist_list > img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

#about_cooperation > .span16 {
	margin:10px 0;
}
#about_cooperation a {
	margin:0 11px;
}
	




/* info : faq */
.question {
	cursor:pointer;	
	margin-bottom:0;
	background:url(/img/info/normal.png) 0 13px no-repeat;
	padding-left:15px;
}
.question.opened {
	background:url(/img/info/open.png) 0 13px no-repeat;
}

.answer {
	display:none;
	background: #F2f2f2;
	padding: 10px;
	margin-left: 10px;
	border-radius: 5px;
	margin-top: 0;
}


/* info : contact us */
p.desc {
	font-size: 15px;
	margin-bottom: 40px;
	color: #666;
	line-height: 1.6em;
}















/* profile */
#profile_nav {
	;
}