
/* profile */
#profile_header {
	height: 550px;
}
#profile_inner {
	width: 400px;
	top: 120px;
}


#alarmWrapper {
	position: relative;
}
#alarmPopUp {
	overflow: scroll;
	position: absolute;
	background: #fff;
	top: 100%;
	left: 0;
	width: 300px;
	border: 3px solid silver;
}
#alarmPopUpList {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
